h1 {
  font-size: 1.2rem;
}
a {
  color: #1d3060;
  font-weight: bold;
}

.timeline-Widget > iframe {
  background-color: #770e81 !important;
}

.top-panel {
  background: url(../files/hex-pattern.png);
  margin-bottom: 0;
}

.side-panel {
  height: 485px;
  border-bottom-right-radius: 40px;
  border-bottom-left-radius: 40px;
}

.invited-talk {
  border: 1px solid #e8dcf5;
  /* border-right: 0px; */
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-radius: 3px;
}

.invited-talk > p {
  margin-bottom: 0px;
}

.schedule-title {
  /* background-color: #b31c79;
    color: white; */
  border-color: #b31c79;
  border: 1px solid #b31c79;
  border-right: 0;
  border-left: 0;
  text-align: center;
}

.schedule-item-time {
  /* background-color: #e8dcf5; */
  color: #5e5d5d;
  border-bottom: 1px solid #b31c79;
  border-right: 1px solid #b31c79;
  text-align: center;
}

.schedule-item-content {
  border-bottom: 1px solid #b31c79;
}

iframe {
  width: 100% !important;
  height: 200px !important;
}

@media (min-width: 576px) {
  h1 {
    /* Never get larger than this */
    font-size: 1.5rem;
  }

  .side-panel {
    height: 565px;
  }

  iframe {
    height: 300px !important;
  }

  .sticky-offset {
    top: 56px;
    position: sticky;
    z-index: 1020;
  }
}

@media (min-width: 768px) {
  h1 {
    /* Never get larger than this */
    font-size: 1.8rem;
  }
  .side-panel {
    height: 535px;
  }

  iframe {
    height: 500px !important;
  }
}

@media (min-width: 992px) {
  h1 {
    /* Never get larger than this */
    font-size: 2rem;
  }
}

@media (min-width: 1200px) {
  h1 {
    /* Never get larger than this */
    font-size: 2.5rem;
  }
  .side-panel {
    height: 420px;
  }

  iframe {
    height: 400px !important;
  }
}

#logo {
  bottom: -20px;
  z-index: 1022;
}

.navbar {
  background-color: #a20a34 !important;
}

.theme-color {
  color: #a20a34 !important;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
}
.navbar-dark .navbar-nav .nav-link:hover {
  color: #ffe28a;
}

/* .side-panel::after {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 20px solid #e8dcf5;
    content: '';
    /* margin-bottom: 30px; 
} */

#main-div {
  max-height: 510px;
  overflow-y: auto;
}

.image-org {
  max-height: 200px;
  max-width: 100px;
}

.current-nav {
  font-weight: bold;
  border-bottom: solid 1px;
  padding-bottom: 3px;
  color: #ffe28a;
}

.pm-text {
  font-size: 14px;
}

.pm-content {
  padding-top: 5px;
  padding-bottom: 5px;
}
